<div
  class="further-education"
  data-product-id="{{ product.id }}"
  data-limit="4"
>
  {%- if product.metafields.global.consumables.value != blank -%}
  <h2>Further Education</h2>
  <ul class="further-education-slider">
    {%- for further-education-product in product.metafields.product.further-education.value -%}
    <li class="further-education__product">
      <a
        href="{{ further-education-product.url }}"
        class="view-more-btn"
        data-handle="{{ further-education-product.handle }}"
        data-collection="{{ further-education-product.tags }}"
      >
        <div class="further-education__product-img">
          <img src="{{ further-education-product.featured_image | img_url : 'master' }}"  alt="{{ further-education-product.featured_image.alt }}"
          />
        </div>
        <div class="further-education__product-info">
          <p class="further-education__product-title">
            {{ further-education-product.title }}
          </p>
          <p class="further-education__learn-more">Learn more</p>
        </div>
      </a>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>

<style></style>
